<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Interpretador de Texto</title>
</head>
<body>
    <script src="/static/utils/Api.js"></script>
    <script src="/static/utils/Options.js"></script>
    <script src="/static/models/Interpretador.js"></script>
    <script src="/static/models/InterpretadorRequest.js"></script>
    <script src="/static/models/InterpretadorResponse.js"></script>
    <script src="/static/models/Questao.js"></script>
    <script src="/static/services/InterpretadorService.js"></script>
    <script src="/static/controllers/InterpretadorController.js"></script>
    <script src="/static/views/components/Button.js"></script>
    <script src="/static/views/components/ErroComponent.js"></script>
    <script src="/static/views/components/EsperaComponent.js"></script>
    <script src="/static/views/components/Heading.js"></script>
    <script src="/static/views/components/Label.js"></script>
    <script src="/static/views/components/Paragraph.js"></script>
    <script src="/static/views/components/TextArea.js"></script>
    <script src="/static/views/containers/Buttons.js"></script>
    <script src="/static/views/containers/PerguntasContainer.js"></script>
    <script src="/static/views/containers/QuestaoContainer.js"></script>
    <script src="/static/views/containers/QuestoesContainer.js"></script>
    <script src="/static/views/containers/TextoContainer.js"></script>
    <script src="/static/views/pages/Page.js"></script>
    <script src="/static/views/pages/CadastroDeTextoPage.js"></script>
    <script src="/static/views/pages/ErroPage.js"></script>
    <script src="/static/views/pages/PerguntaPage.js"></script>
    <script src="/static/views/pages/QuestoesPage.js"></script>
    <script src="/static/views/pages/TextoPage.js"></script>
    <script src="/static/main.js"></script>    
</body>
</html>